In [1]:
!pip install dlt[duckdb]

Requirement already satisfied: dlt[duckdb] in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (1.6.1)
Requirement already satisfied: PyYAML>=5.4.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (5.4.1)
Requirement already satisfied: click>=7.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (8.1.3)
Requirement already satisfied: duckdb>=0.9 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.2.0)
Requirement already satisfied: fsspec>=2022.4.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2025.2.0)
Requirement already satisfied: gitpython>=3.1.29 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (3.1.44)
Requirement already satisfied: giturlparse>=0.10.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.3.0)
Requirement already satisfied: humanize>=4.4.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (4.12.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.7.0)
Requirement already satisfied: makefun>=1.15.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.15.6)
Requirement already satisfied: orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (3.10.15)
Requirement already satisfied: packaging>=21.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (24.2)
Requirement already satisfied: pathvalidate>=2.5.2 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (3.2.3)
Requirement already satisfied: pendulum>=2.1.2 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2.1.2)
Requirement already satisfied: pluggy>=1.3.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.5.0)
Requirement already satisfied: pytz>=2022.6 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2022.7.1)
Requirement already satisfied: pywin32>=306 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (308)
Requirement already satisfied: requests>=2.26.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2.28.2)
Requirement already satisfied: requirements-parser>=0.5.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (0.11.0)
Requirement already satisfied: rich-argparse<2.0.0,>=1.6.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.7.0)
Requirement already satisfied: semver>=3.0.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (3.0.4)
Requirement already satisfied: setuptools>=65.6.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (69.1.0)
Requirement already satisfied: simplejson>=3.17.5 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (3.20.1)
Requirement already satisfied: tenacity>=8.0.2 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (9.0.0)
Requirement already satisfied: tomlkit>=0.11.3 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (0.13.2)
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (4.12.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (2022.7)
Requirement already satisfied: win-precise-time>=1.4.2 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from dlt[duckdb]) (1.4.2)
Requirement already satisfied: colorama in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from click>=7.1->dlt[duckdb]) (0.4.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.12)
Requirement already satisfied: ply in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: python-dateutil<3.0,>=2.6 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: pytzdata>=2020.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2020.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (2022.12.7)
Requirement already satisfied: types-setuptools>=69.1.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (75.8.0.20250210)
Requirement already satisfied: rich>=11.0.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (13.9.4)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.2)
Requirement already satisfied: six>=1.5 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil<3.0,>=2.6->pendulum>=2.1.2->dlt[duckdb]) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (2.14.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (0.1.2)

In [2]:
!dlt --version

dlt 1.6.1

In [3]:
!pip install --upgrade packaging

Requirement already satisfied: packaging in c:\users\ipek.guler\appdata\local\programs\python\python311\lib\site-packages (24.2)

In [4]:
import dlt
from dlt.sources.helpers.rest_client import RESTClient
from dlt.sources.helpers.rest_client.paginators import PageNumberPaginator

BASE_API_URL = "https://us-central1-dlthub-analytics.cloudfunctions.net"

@dlt.resource(name="ny_taxi_data")
def ny_taxi():
    client = RESTClient(
        base_url = BASE_API_URL,
        paginator = PageNumberPaginator(
            base_page=1,
            total_path=None
        )
    )
    
    for page in client.paginate("data_engineering_zoomcamp_api"):
        yield page

pipeline = dlt.pipeline(
    pipeline_name="ny_taxi_pipeline",
    destination="duckdb",
    dataset_name="ny_taxi_data"
)

In [6]:
load_info = pipeline.run(ny_taxi)
print(load_info)

Pipeline ny_taxi_pipeline load step completed in 1.47 seconds
1 load package(s) were loaded to destination duckdb and into dataset ny_taxi_data
The duckdb destination used duckdb:///C:\Users\ipek.guler\Desktop\Data-Engineering-Zoomcamp\03-dlt-workshop\ny_taxi_pipeline.duckdb location to store data
Load package 1739727621.2297852 is LOADED and contains no failed jobs

In [7]:
import duckdb

# A database '<pipeline_name>.duckdb' was created in working directory so just connect to it

# Connect to the DuckDB database
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# Set search path to the dataset
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")

# Describe the dataset
conn.sql("DESCRIBE").df()

,database,schema,name,column_names,column_types,temporary
0,ny_taxi_pipeline,ny_taxi_data,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,ny_taxi_pipeline,ny_taxi_data,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,ny_taxi_pipeline,ny_taxi_data,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,ny_taxi_pipeline,ny_taxi_data,ny_taxi_data,"[end_lat, end_lon, fare_amt, passenger_count, ...","[DOUBLE, DOUBLE, DOUBLE, BIGINT, VARCHAR, DOUB...",False

In [8]:
df = pipeline.dataset(dataset_type="default").ny_taxi_data.df()
df

,end_lat,end_lon,fare_amt,passenger_count,payment_type,start_lat,start_lon,tip_amt,tolls_amt,total_amt,trip_distance,trip_dropoff_date_time,trip_pickup_date_time,surcharge,vendor_name,_dlt_load_id,_dlt_id,store_and_forward
0,40.742963,-73.980072,45.0,1,Credit,40.641525,-73.787442,9.0,4.15,58.15,17.52,2009-06-14 23:48:00+00:00,2009-06-14 23:23:00+00:00,0.0,VTS,1739726376.937028,W+YVDJOowh13Xw,NaN
1,40.740187,-74.005698,6.5,1,Credit,40.722065,-74.009767,1.0,0.00,8.50,1.56,2009-06-18 17:43:00+00:00,2009-06-18 17:35:00+00:00,1.0,VTS,1739726376.937028,iQaIXkdrYKDXdA,NaN
2,40.718043,-74.004745,12.5,5,Credit,40.761945,-73.983038,2.0,0.00,15.50,3.37,2009-06-10 18:27:00+00:00,2009-06-10 18:08:00+00:00,1.0,VTS,1739726376.937028,gKcFP5TKxYmU1A,NaN
3,40.739637,-73.985233,4.9,1,CASH,40.749802,-73.992247,0.0,0.00,5.40,1.11,2009-06-14 23:58:00+00:00,2009-06-14 23:54:00+00:00,0.5,VTS,1739726376.937028,/zUeX7bKS3SMig,NaN
4,40.730032,-73.852693,25.7,1,CASH,40.776825,-73.949233,0.0,4.15,29.85,11.09,2009-06-13 13:23:00+00:00,2009-06-13 13:01:00+00:00,0.0,VTS,1739726376.937028,sADy91IV7V/eUA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,40.783522,-73.970690,5.7,1,CASH,40.778560,-73.953660,0.0,0.00,5.70,1.16,2009-06-19 11:28:00+00:00,2009-06-19 11:22:00+00:00,0.0,VTS,1739727621.2297852,TCNOzpS5Kv7f/g,NaN
19996,40.777200,-73.964197,4.1,1,CASH,40.779800,-73.974297,0.0,0.00,4.10,0.89,2009-06-17 07:43:00+00:00,2009-06-17 07:41:00+00:00,0.0,VTS,1739727621.2297852,7E6C6DkV10L7Xw,NaN
19997,40.780172,-73.957617,6.1,1,CASH,40.788388,-73.976758,0.0,0.00,6.10,1.30,2009-06-19 11:46:00+00:00,2009-06-19 11:39:00+00:00,0.0,VTS,1739727621.2297852,dU5vjhP5ngdRyQ,NaN
19998,40.777342,-73.957242,5.7,1,CASH,40.773828,-73.956690,0.0,0.00,6.20,0.97,2009-06-17 04:19:00+00:00,2009-06-17 04:13:00+00:00,0.5,VTS,1739727621.2297852,S1PfowGO5jSKwA,NaN
19999,40.757122,-73.986293,6.5,1,Credit,40.756313,-73.972948,2.0,0.00,8.50,0.92,2009-06-17 08:34:00+00:00,2009-06-17 08:24:00+00:00,0.0,VTS,1739727621.2297852,K8SL2QB7v5fZ0A,NaN

In [9]:
with pipeline.sql_client() as client:
    res = client.execute_sql(
            """
            SELECT
            AVG(date_diff('minute', trip_pickup_date_time, trip_dropoff_date_time))
            FROM ny_taxi_data;
            """
        )
    # Prints column values of the first row
    print(res)

[(12.3049,)]